header {
    width: 100%;
    height: 100vh;
    position: relative;
}
.header__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__container {
    padding-left: 125px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__intro--wrapper {
    width: 556px;
    background-color: #fff;
}
.header__intro--header {
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}
.header__intro--header-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border-bottom: 5px solid #000; */
    padding: 15px 0;
    text-decoration: none;
    color: #000;
}
.header__intro--header-link i {
    line-height: 2;
    font-size: 2rem;
}
.header__intro--header-link span {
    font-size: 1.4rem;
    font-weight: 600;
}

.header__intro--body {padding: 30px;}
.header__intro--body h2 {font-size: 5rem;font-weight: 600;}
.header__intro--body p {line-height: 5;}
.header__intro--body a.btn {
    padding: 0;
    background-color: #000;
    color: #fff;
    padding: 12px 18px;
    font-weight: 400;
}
.header__intro--body a {
    color: #777;
    font-size: 1.4rem;
    border-bottom: 1px solid whitesmoke;
}


.ride__form {padding: 24px 0;}
.ride__form__control {
    display: flex;
    align-items: center;
    background-color: #ddd;
    padding: 16px 24px;
    margin-bottom: 16px;
}
.ride__form__control:last-child {margin-bottom: 0;}
.ride__form__control .far {margin-right: 12px;}
.ride__form__control input {
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.6rem;
}
.ride__form ~ a {display: block;margin-bottom: 16px;text-align: center;}
.ride__form ~ a.gray {background-color: #ddd;color: #000;}
.fa-circle {position: relative;}
.fa-circle::after {
    position: absolute;
    content: '';
    top: 125%;
    left: 44%;
    width: 1px;
    height: 55px;
    background-color: #000;
}



@media (max-width: 896px) {
    header {
        position: unset;
        height: auto;
    }
    .header__image {
        position: unset;
    }
    .header__container {
        padding-left: 0;
        display: block;
    }
    .header__intro--wrapper {
        width: 100%;
    }
    .header__intro--header {
        justify-content: unset;
        padding: 0 30px;
    }
    .header__intro--header-link {
        margin-right: 56px;
    }
}
@media (max-width: 596px) {}